.replay {
  background-color: #0a0a23;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  margin-top: 15px;
}

.container {
  margin: 0 auto;
  text-align: center;
}
